html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
    
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #ecf2f8;
    font-size: 15px;
    line-height: 20px;
}
p {
    margin: 0;
}
h3 {
    font-size: 1.2rem;
}
.header {
    display: flex;
    align-items: center ;
}
.header-info p {
    margin-left: 10px;
}
.header-info p:nth-child(2) {
    opacity: 0.7;
}
.container {
    
    margin: 80px auto;
}
.container p {
        opacity: 0.7;
}
.first, .second, .third, .forth, .fifth {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 6px 7px 20px -3px rgba(94,89,89,0.3);
}
img {
    border-radius: 50%;
    position: absolute;
    
}
#quote {
    border-radius: 0px;
}
.first {
    background-color: #7541c8;
    color: white;
    padding: 20px;
    border-color: #7541c8;
}
.second {
    background-color: #48556a;
    color: white;
}
.third {
    background-color: #ffffff;
    color: #48556a;
}
.forth {
    background-color: #19212e;
    color: white;

}
.fifth {
    background-color: #ffffff;
    color: #48556a;
}



@media (min-width: 576px) {
    .container {
        display: flex;
        max-width: 1440px;
        
    }
    .fifth {
        flex-basis: 25%;
    }
    .left {
        display: flex;
        flex-direction: column;
        flex-basis: 72%;
        margin-right: 15px;
    }
    .top, .bottom {
        display: flex;
        flex-basis: 50%;
    }
    .top {
        flex-basis: 50%;
        margin-bottom: 5px;
    }
    .first {
        margin-right: 20px;
    }
    .third {
        margin-right: 20px;
    }
}
